CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    migration_id character varying(150) NOT NULL,
    product_version character varying(32) NOT NULL,
    CONSTRAINT pk___ef_migrations_history PRIMARY KEY (migration_id)
);

START TRANSACTION;
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'notification') THEN
        CREATE SCHEMA notification;
    END IF;
END $EF$;

CREATE TABLE notification.notifications_sent (
    id uuid NOT NULL,
    message_id character varying(255),
    message_template_id character varying(255) NOT NULL,
    sent_date timestamp with time zone,
    personalizations jsonb NOT NULL,
    notification_provider text NOT NULL,
    notification_method text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT pk_notifications_sent PRIMARY KEY (id)
);

CREATE TABLE notification.token_types (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    expiration_time integer NOT NULL,
    max_attempts integer NOT NULL,
    resent_limit integer NOT NULL,
    token_length integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT pk_token_types PRIMARY KEY (id)
);

CREATE TABLE notification.tokens_sent (
    id uuid NOT NULL,
    token character varying(255) NOT NULL,
    token_type_id integer NOT NULL,
    notification_sent_id uuid NOT NULL,
    used boolean NOT NULL,
    attempts integer NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    salt text NOT NULL,
    data_check text NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT pk_tokens_sent PRIMARY KEY (id),
    CONSTRAINT fk_tokens_sent_notifications_sent_notification_sent_id FOREIGN KEY (notification_sent_id) REFERENCES notification.notifications_sent (id) ON DELETE RESTRICT,
    CONSTRAINT fk_tokens_sent_token_types_token_type_id FOREIGN KEY (token_type_id) REFERENCES notification.token_types (id) ON DELETE RESTRICT
);

INSERT INTO notification.token_types (id, created_at, description, expiration_time, max_attempts, name, resent_limit, token_length, updated_at)
VALUES (1, TIMESTAMPTZ '2025-09-24T03:14:52.98231Z', 'Token used to multi factor authentication', 5, 5, 'MFA', 5, 6, TIMESTAMPTZ '2025-09-24T03:14:52.982407Z');
INSERT INTO notification.token_types (id, created_at, description, expiration_time, max_attempts, name, resent_limit, token_length, updated_at)
VALUES (2, TIMESTAMPTZ '2025-09-24T03:14:52.98252Z', 'One Time Password token', 5, 5, 'OTP', 5, 9, TIMESTAMPTZ '2025-09-24T03:14:52.98252Z');
INSERT INTO notification.token_types (id, created_at, description, expiration_time, max_attempts, name, resent_limit, token_length, updated_at)
VALUES (3, TIMESTAMPTZ '2025-09-24T03:14:52.98252Z', 'Recover account token', 5, 5, 'RecoverAccount', 5, 6, TIMESTAMPTZ '2025-09-24T03:14:52.98252Z');

CREATE UNIQUE INDEX ix_notifications_sent_message_id ON notification.notifications_sent (message_id);

CREATE UNIQUE INDEX ix_token_types_name ON notification.token_types (name);

CREATE UNIQUE INDEX ix_tokens_sent_notification_sent_id ON notification.tokens_sent (notification_sent_id);

CREATE UNIQUE INDEX ix_tokens_sent_token ON notification.tokens_sent (token);

CREATE INDEX ix_tokens_sent_token_type_id ON notification.tokens_sent (token_type_id);

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20250924031453_InitialMigration', '9.0.9');

COMMIT;


