CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    migration_id character varying(150) NOT NULL,
    product_version character varying(32) NOT NULL,
    CONSTRAINT pk___ef_migrations_history PRIMARY KEY (migration_id)
);

START TRANSACTION;
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'security') THEN
        CREATE SCHEMA security;
    END IF;
END $EF$;

CREATE TABLE security."AspNetRoles" (
    id uuid NOT NULL,
    name character varying(256),
    normalized_name character varying(256),
    concurrency_stamp text,
    CONSTRAINT pk_asp_net_roles PRIMARY KEY (id)
);

CREATE TABLE security."AspNetUsers" (
    id uuid NOT NULL,
    full_name text NOT NULL,
    user_name character varying(256),
    normalized_user_name character varying(256),
    email character varying(256),
    normalized_email character varying(256),
    email_confirmed boolean NOT NULL,
    password_hash text,
    security_stamp text,
    concurrency_stamp text,
    phone_number text,
    phone_number_confirmed boolean NOT NULL,
    two_factor_enabled boolean NOT NULL,
    lockout_end timestamp with time zone,
    lockout_enabled boolean NOT NULL,
    access_failed_count integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT pk_asp_net_users PRIMARY KEY (id)
);
COMMENT ON COLUMN security."AspNetUsers".created_at IS 'The date and time when the entity was created.';
COMMENT ON COLUMN security."AspNetUsers".updated_at IS 'The date and time when the entity was last updated.';

CREATE TABLE security."OpenIddictApplications" (
    id text NOT NULL,
    application_type character varying(50),
    client_id character varying(100),
    client_secret text,
    client_type character varying(50),
    concurrency_token character varying(50),
    consent_type character varying(50),
    display_name text,
    display_names text,
    json_web_key_set text,
    permissions text,
    post_logout_redirect_uris text,
    properties text,
    redirect_uris text,
    requirements text,
    settings text,
    CONSTRAINT pk_open_iddict_applications PRIMARY KEY (id)
);

CREATE TABLE security."OpenIddictScopes" (
    id text NOT NULL,
    concurrency_token character varying(50),
    description text,
    descriptions text,
    display_name text,
    display_names text,
    name character varying(200),
    properties text,
    resources text,
    CONSTRAINT pk_open_iddict_scopes PRIMARY KEY (id)
);

CREATE TABLE security."AspNetRoleClaims" (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    role_id uuid NOT NULL,
    claim_type text,
    claim_value text,
    CONSTRAINT pk_asp_net_role_claims PRIMARY KEY (id),
    CONSTRAINT fk_asp_net_role_claims_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES security."AspNetRoles" (id) ON DELETE CASCADE
);

CREATE TABLE security."AspNetUserClaims" (
    id integer GENERATED BY DEFAULT AS IDENTITY,
    user_id uuid NOT NULL,
    claim_type text,
    claim_value text,
    CONSTRAINT pk_asp_net_user_claims PRIMARY KEY (id),
    CONSTRAINT fk_asp_net_user_claims_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES security."AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE security."AspNetUserLogins" (
    login_provider text NOT NULL,
    provider_key text NOT NULL,
    provider_display_name text,
    user_id uuid NOT NULL,
    CONSTRAINT pk_asp_net_user_logins PRIMARY KEY (login_provider, provider_key),
    CONSTRAINT fk_asp_net_user_logins_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES security."AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE security."AspNetUserRoles" (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    CONSTRAINT pk_asp_net_user_roles PRIMARY KEY (user_id, role_id),
    CONSTRAINT fk_asp_net_user_roles_asp_net_roles_role_id FOREIGN KEY (role_id) REFERENCES security."AspNetRoles" (id) ON DELETE CASCADE,
    CONSTRAINT fk_asp_net_user_roles_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES security."AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE security."AspNetUserTokens" (
    user_id uuid NOT NULL,
    login_provider text NOT NULL,
    name text NOT NULL,
    value text,
    CONSTRAINT pk_asp_net_user_tokens PRIMARY KEY (user_id, login_provider, name),
    CONSTRAINT fk_asp_net_user_tokens_asp_net_users_user_id FOREIGN KEY (user_id) REFERENCES security."AspNetUsers" (id) ON DELETE CASCADE
);

CREATE TABLE security."OpenIddictAuthorizations" (
    id text NOT NULL,
    application_id text,
    concurrency_token character varying(50),
    creation_date timestamp with time zone,
    properties text,
    scopes text,
    status character varying(50),
    subject character varying(400),
    type character varying(50),
    CONSTRAINT pk_open_iddict_authorizations PRIMARY KEY (id),
    CONSTRAINT fk_open_iddict_authorizations_open_iddict_applications_application FOREIGN KEY (application_id) REFERENCES security."OpenIddictApplications" (id)
);

CREATE TABLE security."OpenIddictTokens" (
    id text NOT NULL,
    application_id text,
    authorization_id text,
    concurrency_token character varying(50),
    creation_date timestamp with time zone,
    expiration_date timestamp with time zone,
    payload text,
    properties text,
    redemption_date timestamp with time zone,
    reference_id character varying(100),
    status character varying(50),
    subject character varying(400),
    type character varying(150),
    CONSTRAINT pk_open_iddict_tokens PRIMARY KEY (id),
    CONSTRAINT fk_open_iddict_tokens_open_iddict_applications_application_id FOREIGN KEY (application_id) REFERENCES security."OpenIddictApplications" (id),
    CONSTRAINT fk_open_iddict_tokens_open_iddict_authorizations_authorization_id FOREIGN KEY (authorization_id) REFERENCES security."OpenIddictAuthorizations" (id)
);

CREATE INDEX ix_asp_net_role_claims_role_id ON security."AspNetRoleClaims" (role_id);

CREATE UNIQUE INDEX "RoleNameIndex" ON security."AspNetRoles" (normalized_name);

CREATE INDEX ix_asp_net_user_claims_user_id ON security."AspNetUserClaims" (user_id);

CREATE INDEX ix_asp_net_user_logins_user_id ON security."AspNetUserLogins" (user_id);

CREATE INDEX ix_asp_net_user_roles_role_id ON security."AspNetUserRoles" (role_id);

CREATE INDEX "EmailIndex" ON security."AspNetUsers" (normalized_email);

CREATE UNIQUE INDEX "UserNameIndex" ON security."AspNetUsers" (normalized_user_name);

CREATE UNIQUE INDEX ix_open_iddict_applications_client_id ON security."OpenIddictApplications" (client_id);

CREATE INDEX ix_open_iddict_authorizations_application_id_status_subject_type ON security."OpenIddictAuthorizations" (application_id, status, subject, type);

CREATE UNIQUE INDEX ix_open_iddict_scopes_name ON security."OpenIddictScopes" (name);

CREATE INDEX ix_open_iddict_tokens_application_id_status_subject_type ON security."OpenIddictTokens" (application_id, status, subject, type);

CREATE INDEX ix_open_iddict_tokens_authorization_id ON security."OpenIddictTokens" (authorization_id);

CREATE UNIQUE INDEX ix_open_iddict_tokens_reference_id ON security."OpenIddictTokens" (reference_id);

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20250917231611_Initial', '9.0.9');

COMMIT;


